---
layout: works
title:        Documentary of a Woodworker
dateComplete: 2015
category:     Video &amp; Animation
role-genre:   Filming, Directing, Editing
used-media:   Canon Rebel t4i, Premiere Pro, Audition, After Effects
previous:     vid-socialmedia-15.html
next:         vid-comp2-15.html
---

<section id="workcontent">
    <div id="work-header">
      <h2>{{ page.title }}</h2>
      <p class="work_caption">{% if page.dateComplete %} {{ page.dateComplete}} {% endif %}
        {% if page.category %}<br />Category: {{ page.category }} {% endif %}<!--Meta Tag-> Category of Work-->
        {% if page.role-genre %}<br />Role: {{ page.role-genre }} {% endif %}<!--Meta Tag-> Role or Genre-->
        {% if page.used-media %}<br />Used: {{ page.used-media }} {% endif %}<!--Meta Tag-> Used or Media-->
      </p>
    </div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/YMkv-xo6Puo" frameborder="0" allowfullscreen></iframe>
    <p>This short documentary film follows a woodturner, my dad, who creates art both aesthetic and functional with wood.</</p>
    <p>I filmed this video long-term throughout autumn and winter 2015 for an independent study class involving cinematography.</p>

  </section>
