---
layout: works
title: IU Kokomo Hero Videos
dateComplete: 2015
category: Video &amp; Animation
role-genre: Footage, Editing
used-media: Premiere Pro
previous: vid-wedding-15.html
next: vid-socialmedia-15.html
---

<section id="workcontent">
    <div id="work-header">
      <h2>{{ page.title }}</h2>
      <p class="work_caption">{% if page.dateComplete %} {{ page.dateComplete}} {% endif %}
        {% if page.category %}<br />Category: {{ page.category }} {% endif %}<!--Meta Tag-> Category of Work-->
        {% if page.role-genre %}<br />Role: {{ page.role-genre }} {% endif %}<!--Meta Tag-> Role or Genre-->
        {% if page.used-media %}<br />Used: {{ page.used-media }} {% endif %}<!--Meta Tag-> Used or Media-->
      </p>
    </div>
    <div class="embedplayer">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/M93PBj18ke4" frameborder="0" allowfullscreen></iframe>
    </div>
    <p>I edited together video of IU Kokomo’s campus to create temporary, moving “hero” videos for the school’s homepage. The first video is one of the heroes shown playing live on the homepage.</p>
    <p>I did this as a part of an internship with the Office of Media and Marketing at IU Kokomo.</p>
    <p>While I edited the videos, I captured <em>some</em> of the footage. Other footage was captured by my supervisor, Mike Glassburn.</p>
    <div class="embedplayer">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/L8dFe4xCXyU" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="embedplayer">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/mwVAxv9l2gw" frameborder="0" allowfullscreen></iframe>
    </div>

  </section>
