---
layout: works
title: Compositing I: Midnight is Coming
dateComplete: 2014
category: Video &amp; Animation
role-genre: Animation, Visual and Audio Editing
used-media: After Effects, Premiere Pro, Photoshop, Blender, Audition 
previous: vid-bts-13.html
next: vid-grad-15.html
---

<section id="workcontent">
    <div id="work-header">
      <h2>{{ page.title }}</h2>
      <p class="work_caption">{% if page.dateComplete %} {{ page.dateComplete}} {% endif %}
        {% if page.category %}<br />Category: {{ page.category }} {% endif %}<!--Meta Tag-> Category of Work-->
        {% if page.role-genre %}<br />Role: {{ page.role-genre }} {% endif %}<!--Meta Tag-> Role or Genre-->
        {% if page.used-media %}<br />Used: {{ page.used-media }} {% endif %}<!--Meta Tag-> Used or Media-->
      </p>
    </div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/9BUB8RZyiM0" frameborder="0" allowfullscreen></iframe>
    <p>This is a 3-scene composition with quite a random, dark, and spooky storyline.</p>
    <p>The assignment for this was to make a compositing video including a title card, parallax, credits, sound effects, and about a minute's length. It was for the class “digital studio I."</p>
    <p>I used many creative commons zero sound effects to compose the music together in Adobe Audition. I also used a creative commons zero model of a skull and rendered it in Blender, as well as a <a href="http://www.blendswap.com/user/Chaiwit_Jarunyakorn" target="_blank">model</a> of a house.</p>


  </section>