---
layout: works
title:        Documentary of a Woodworker
dateComplete: 2015
category:     Video &amp; Animation
role-genre:   Filming, Directing, Editing
used-media:   Canon Rebel t4i, Premiere Pro, Audition, After Effects
previous:     vid-socialmedia-15.html
next:         vid-comp2-15.html
---

<section id="workcontent">
    <div id="work-header">
      <h2>{{ page.title }}</h2>
      <p class="work_caption">{% if page.dateComplete %} {{ page.dateComplete}} {% endif %}
        {% if page.category %}<br />Category: {{ page.category }} {% endif %}<!--Meta Tag-> Category of Work-->
        {% if page.role-genre %}<br />Role: {{ page.role-genre }} {% endif %}<!--Meta Tag-> Role or Genre-->
        {% if page.used-media %}<br />Used: {{ page.used-media }} {% endif %}<!--Meta Tag-> Used or Media-->
      </p>
    </div>
    <p>(Video to be embedded)</p>
    <p>This is a long-term documentary that follows my dad, Tim Kennedy, who is a wood artist and turner.</p>
    <p>I produced this video for an independent study class involving cinematography.</p>

  </section>
