---
layout: works
title: Video Practicum – Behind the Scenes
dateComplete: 2013
category: Video &amp; Animation
role-genre: Filmed, Directed, Edited
used-media: Canon Rebel t4i, Premiere Pro 
previous: vid-comp2-15.html
next: vid-comp1-14.html
---

<section id="workcontent">
    <div id="work-header">
      <h2>{{ page.title }}</h2>
      <p class="work_caption">{% if page.dateComplete %} {{ page.dateComplete}} {% endif %}
        {% if page.category %}<br />Category: {{ page.category }} {% endif %}<!--Meta Tag-> Category of Work-->
        {% if page.role-genre %}<br />Role: {{ page.role-genre }} {% endif %}<!--Meta Tag-> Role or Genre-->
        {% if page.used-media %}<br />Used: {{ page.used-media }} {% endif %}<!--Meta Tag-> Used or Media-->
      </p>
    </div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/TVicoX2HDQc" frameborder="0" allowfullscreen></iframe> <!--Meta Tag-> Work/Piece Image or Video-->
    <p>A short documentary-style behind-the-scenes film of what a college video production practicum class is like. Students discuss their experience in the class and reflect upon the difficulties of group work.</p>
    <p>I filmed and directed the video as well as edited it together. The original version was about 8 minutes long, and this is a re-edited version that fits my portfolio better.</p>
    <p>The students in the group were: Simon Alfrey, Alex Amos, Hannah Carbaugh, Tabitha Kennedy, Jake Pedzinski, and Kevin Petrowsky. Other individuals who were featured include: Alice Guest-Mckellar, Kevin Petrowsky, Nathan McDaniel.</p>

  </section>