---
layout: works
title: IU Kokomo Commencement Recap
dateComplete: May 12, 2015
category: Video &amp; Animation
role-genre: Footage
used-media: Canon Rebel t4i
previous: vid-comp1-14.html
next: vid-wedding-15.html
---

<section id="workcontent">
    <div id="work-header">
      <h2>{{ page.title }}</h2>
      <p class="work_caption">{% if page.dateComplete %} {{ page.dateComplete}} {% endif %}
        {% if page.category %}<br />Category: {{ page.category }} {% endif %}<!--Meta Tag-> Category of Work-->
        {% if page.role-genre %}<br />Role: {{ page.role-genre }} {% endif %}<!--Meta Tag-> Role or Genre-->
        {% if page.used-media %}<br />Used: {{ page.used-media }} {% endif %}<!--Meta Tag-> Used or Media-->
      </p>
    </div>
    <div class="embedplayer">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/IiMj9Bzx3JU" frameborder="0" allowfullscreen></iframe>
    </div>
    <p>I helped film IU Kokomo’s 2015 commencement. This was my first time filming a live event.</p>
    <p>The video was produced by the Office of Media and Marketing and edited &amp; filmed by Mike Glassburn. Other cameras were Tabitha Kennedy, Parker Brown, Alilsha Referda, and Austin Sarver.</p>


  </section>
