---
layout: works
title: Burnett Wedding
dateComplete: May 30, 2015
category: Video &amp; Animation
role-genre: Footage
used-media: Canon Rebel t4i
previous: vid-grad-15.html
next: vid-heroes-15.html
---

<section id="workcontent">
    <div id="work-header">
      <h2>{{ page.title }}</h2>
      <p class="work_caption">{% if page.dateComplete %} {{ page.dateComplete}} {% endif %}
        {% if page.category %}<br />Category: {{ page.category }} {% endif %}<!--Meta Tag-> Category of Work-->
        {% if page.role-genre %}<br />Role: {{ page.role-genre }} {% endif %}<!--Meta Tag-> Role or Genre-->
        {% if page.used-media %}<br />Used: {{ page.used-media }} {% endif %}<!--Meta Tag-> Used or Media-->
      </p>
    </div>
    <iframe src="https://player.vimeo.com/video/137090758?color=c9ff23&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <p>I assisted <a href="https://vimeo.com/glassburnfilms" target="_blank">Mike Glassburn</a> with the filming of two weddings in the summer of 2015 and filmed another myself. This is the first of the two Mike Glassburn produced.</p>

  </section>