---
layout: works
title:        Compositing II&#58; Serenity
dateComplete: 2015
category:     Video &amp; Animation
role-genre:   Animation, Visual and Audio Editing, Filming
used-media:   Canon Rebel t4i, After Effects, Premiere Pro, Audition
previous:     vid-tim-15.html
next:         vid-bts-13.html
---

<section id="workcontent">
    <div id="work-header">
      <h2>{{ page.title }}</h2>
      <p class="work_caption">{% if page.dateComplete %} {{ page.dateComplete}} {% endif %}
        {% if page.category %}<br />Category: {{ page.category }} {% endif %}<!--Meta Tag-> Category of Work-->
        {% if page.role-genre %}<br />Role: {{ page.role-genre }} {% endif %}<!--Meta Tag-> Role or Genre-->
        {% if page.used-media %}<br />Used: {{ page.used-media }} {% endif %}<!--Meta Tag-> Used or Media-->
      </p>
    </div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/XtzTeY_LGZA" frameborder="0" allowfullscreen></iframe>
    <p>A young woman finds serenity can take her anywhere in the world.</p>
    <p>This video includes many filmmaking and special effects concepts, such as compositing, cinematography, editing, and audio.</p>
    <p>This is the final video project for the class “digital studio II.”</p>
    <p>I also filmed a short 3-scene video, named “A Good Morning,” for the same class:
      <iframe width="560" height="315" src="https://www.youtube.com/embed/MByvRN9clA8" frameborder="0" allowfullscreen></iframe>


  </section>
