---
layout: works
title: DOTS website
dateComplete: 2015
category: Websites &amp; UI
role-genre: Designing, Coding
used-media: HTML, CSS, Dreamweaver
image: i_ui-dots-15.jpg
image-alt: DOTS website image
previous: ui-fui-14-15.html
next: ui-portfolio-15.html
---

<section id="workcontent">
    <div id="work-header">
      <h2>{{ page.title }}</h2>
      <p class="work_caption">{% if page.dateComplete %} {{ page.dateComplete}} {% endif %}
        {% if page.category %}<br />Category: {{ page.category }} {% endif %}<!--Meta Tag-> Category of Work-->
        {% if page.role-genre %}<br />Role: {{ page.role-genre }} {% endif %}<!--Meta Tag-> Role or Genre-->
        {% if page.used-media %}<br />Used: {{ page.used-media }} {% endif %}<!--Meta Tag-> Used or Media-->
      </p>
    </div>
    {% if page.image %} <img src="{{ page.image | prepend: "img/works_full/" | prepend: site.baseurl }}" alt="{% if page.image-alt %} {{ page.image-alt }} {% endif %}" /> {% endif %} <!--Meta Tag-> Work/Piece Image or Video-->
    <p><a href="/" target="_blank">Proceed to this work</a></p>
    <p>DOTS, or “Depending on the Situation,” represents the graphic design and music I make in my free time. I have made a very simple, small website including some of my “album” covers.</p>
    <p>To proceed coding another website in plain code, I was instructed to show that I could use Dreamweaver first. This is a simple 3-page website I designed and coded for the class “introduction to new media communication.” The majority of this website was coded within one night.</p>

  </section>