---
layout: works
title: Fictional User Interface Desktop
dateComplete: 2014-2015
category: Websites &amp; UI
role-genre: Designing, Animating
used-media: Photoshop, After Effects
image:
image-alt:
previous: ui-rfk-14.html
next: ui-bepko-14-15.html
---

<section id="workcontent">
    <div id="work-header">
      <h2>{{ page.title }}</h2>
      <p class="work_caption">{% if page.dateComplete %} {{ page.dateComplete}} {% endif %}
        {% if page.category %}<br />Category: {{ page.category }} {% endif %}<!--Meta Tag-> Category of Work-->
        {% if page.role-genre %}<br />Role: {{ page.role-genre }} {% endif %}<!--Meta Tag-> Role or Genre-->
        {% if page.used-media %}<br />Used: {{ page.used-media }} {% endif %}<!--Meta Tag-> Used or Media-->
      </p>
    </div><!-- What follows is all part of the description-->
    {% if page.image %} <img src="{{ page.image | prepend: "img/works_full/" | prepend: site.baseurl }}" alt="{% if page.image-alt %} {{ page.image-alt }} {% endif %}" /> {% endif %} <!--Meta Tag-> Work/Piece Image or Video-->
    <iframe width="560" height="315" src="https://www.youtube.com/embed/5wQJh_vTawo" frameborder="0" allowfullscreen></iframe>
    <p>I am fascinated with the video, tech, and art field of FUI. This means many things: Fictional, Fake, Fantasy, or Futuristic User Interface. It is used in movies and television as fictional replacements of Operating Systems and the like. This is the start of my study in the subject.</p>
    <p>I first designed three screens of what a Windows desktop would look like if <i>I</i> liked it in spring of 2014 for fun. I then turned it into a very simple animation in spring 2015. A cursor moves to show how it would be used on a desktop machine.</p>
    <p>While I did design the screens, I used many icons found on <a href="http://www.deviantart.com" target="_blank">deviantArt.com</a>, as well as designed a few simple ones of my own (arrows, the Windows logo as I would envision it).</p>


  </section>
