---
title: Tab Kennedy Portfolio
---
<!DOCTYPE html>
<!--
  Authors: Tabitha Kennedy
  Original Code Created: March 10, 2015
  Created Date: November 13, 2015
  Modified Date: November 18, 2016
  Description:
    Code for a simple portfolio website.
-->
<html lang="en">
{% include head.html %}

<body>
{% include header.html %}


<main id="wrapper">
<div id="container" style="max-width: 2500px;">

  <section class="resgallery">
    <div class="gal-container">
      <ul>
          <li>
            <figure class="f_vid">
              <a href="{{ "/works/vid/vid-pheronus-16.html" | prepend: site.baseurl }}"><img src="img/gallery_thumbs/t_vid-pheronus-16.png" alt="On a Ledge, They Concur">
                <figcaption>
                <div class="gal-hover">
                  <p class="link">Pheronus Short Film</p>
                </div>
                </figcaption>
              </a>
            </figure>
          </li>
          <li>
            <figure class="f_vid">
              <a href="{{ "/works/vid/vid-uccomm-16.html" | prepend: site.baseurl }}"><img src="img/gallery_thumbs/t_vid-uccomm-16.png" alt="IUPUI Promo Video">
                <figcaption>
                <div class="gal-hover">
                  <p class="link">IUPUI Promo Video</p>
                </div>
                </figcaption>
              </a>
            </figure>
          </li>
          <li>
            <figure class="f_art">
              <a href="{{ "/works/art/art-data-16.html" | prepend: site.baseurl }}"><img src="img/gallery_thumbs/t_art-data-16.png" alt="Databent Art">
              <figcaption>
              <div class="gal-hover">
                  <p class="link">Databent Art</p>
              </div>
              </figcaption>
            </a>
            </figure>
          </li>

          <li>
            <figure class="f_art">
              <a href="{{ "/works/art/art-whiskers-16.html" | prepend: site.baseurl }}"><img src="img/gallery_thumbs/t_art-whiskers-16.png" alt="Miss Whiskers Becomes Uneasy">
              <figcaption>
              <div class="gal-hover">
                  <p class="link">Miss Whiskers Video Art</p>
              </div>
              </figcaption>
            </a>
            </figure>
          </li>
          <li>
            <figure class="f_vid">
              <a href="{{ "/works/vid/vid-comp2-15.html" | prepend: site.baseurl }}"><img src="img/gallery_thumbs/t_vid-comp2-15.png" alt="Compositing II">
                <figcaption>
                <div class="gal-hover">
                  <p class="link">Compositing II</p>
                </div>
                </figcaption>
              </a>
            </figure>
          </li>
          <li>
            <figure class="f_vid">
              <a href="{{ "/works/vid/vid-tim-15.html" | prepend: site.baseurl }}"><img src="img/gallery_thumbs/t_vid-tim-15.png" alt="Indiana Artisan Tim">
              <figcaption>
              <div class="gal-hover">
                  <p class="link">Woodturning Documentary</p>
              </div>
              </figcaption>
            </a>
            </figure>
          </li>

          <li>
            <figure class="f_art">
              <a href="{{ "/works/art/art-rockerheart-15.html" | prepend: site.baseurl }}"><img src="img/gallery_thumbs/t_art-rockerheart-15.png" alt="Rocker at Heart">
              <figcaption>
              <div class="gal-hover">
                  <p class="link">Rocker at Heart</p>
              </div>
              </figcaption>
            </a>
            </figure>
          </li>
          <li>
            <figure class="f_vid">
              <a href="{{ "/works/vid/vid-socialmedia-15.html" | prepend: site.baseurl }}"><img src="img/gallery_thumbs/t_vid-socialmedia-15.png" alt="Social Media Animation">
              <figcaption>
              <div class="gal-hover">
                  <p class="link">Social Media Animation</p>
              </div>
              </figcaption>
            </a>
            </figure>
          </li>
          <li>
            <figure class="f_vid">
              <a href="{{ "/works/vid/vid-heroes-15.html" | prepend: site.baseurl }}"><img src="img/gallery_thumbs/t_vid-heroes-15.png" alt="Hero Videos">
              <figcaption>
              <div class="gal-hover">
                  <p class="link">Hero Videos</p>
              </div>
              </figcaption>
            </a>
            </figure>
          </li>

          <li>
            <figure class="f_vid">
              <a href="{{ "/works/vid/vid-wedding-15.html" | prepend: site.baseurl }}"><img src="img/gallery_thumbs/t_vid-wedding-15.png" alt="Filmed Weddings">
              <figcaption>
              <div class="gal-hover">
                  <p class="link">Filmed Weddings</p>
              </div>
              </figcaption>
            </a>
            </figure>
          </li>
          <li>
            <figure class="f_vid">
              <a href="{{ "/works/vid/vid-grad-15.html" | prepend: site.baseurl }}"><img src="img/gallery_thumbs/t_vid-grad-15.png" alt="Filmed Commencement">
              <figcaption>
              <div class="gal-hover">
                  <p class="link">Filmed Commencement</p>
              </div>
              </figcaption>
            </a>
            </figure>
          </li>
          <li>
            <figure class="f_ui">
              <a href="{{ "/works/ui/ui-portfolio-15.html" | prepend: site.baseurl }}"><img src="img/gallery_thumbs/t_ui-portfolio-15.png" alt="5-page Portfolio">
              <figcaption>
              <div class="gal-hover">
                  <p class="link">5-page Portfolio</p>
              </div>
              </figcaption>
            </a>
            </figure>
          </li>

          <li>
            <figure class="f_ui">
              <a href="{{ "/works/ui/ui-dots-15.html" | prepend: site.baseurl }}"><img src="img/gallery_thumbs/t_ui-dots-15.png" alt="DOTS Eebsite">
              <figcaption>
              <div class="gal-hover">
                  <p class="link">DOTS Website</p>
              </div>
              </figcaption>
            </a>
            </figure>
          </li>
          <li>
            <figure class="f_ui">
              <a href="{{ "/works/ui/ui-bepko-14-15.html" | prepend: site.baseurl }}"><img src="img/gallery_thumbs/t_ui-bepko-14-15.png" alt="Touchscreen Wayfinder">
              <figcaption>    <!--Why won't this work???-->
              <div class="gal-hover">
                  <p class="link">Touchscreen Wayfinder</p>
              </div>
              </figcaption>
            </a>
            </figure>
          </li>
          <li>
            <figure class="f_ui">
              <a href="{{ "/works/ui/ui-fui-14-15.html" | prepend: site.baseurl }}"><img src="img/gallery_thumbs/t_ui-fui-14-15.png" alt="FUI Design">
              <figcaption>
              <div class="gal-hover">
                  <p class="link">FUI Design</p>
              </div>
              </figcaption>
            </a>
            </figure>
          </li>

          <li>
            <figure class="f_vid">
              <a href="{{ "/works/vid/vid-comp1-14.html" | prepend: site.baseurl }}"><img src="img/gallery_thumbs/t_vid-comp1-14.png" alt="Compositing I">
              <figcaption>
              <div class="gal-hover">
                  <p class="link">Compositing I</p>
              </div>
              </figcaption>
            </a>
            </figure>
          </li>
          <li>
            <figure class="f_ui">
              <a href="{{ "/works/ui/ui-rfk-14.html" | prepend: site.baseurl }}"><img src="img/gallery_thumbs/t_ui-rfk-14.png" alt="Radio Free Kokomo Website">
              <figcaption>
              <div class="gal-hover">
                  <p class="link">RFK Website</p>
              </div>
              </figcaption>
            </a>
            </figure>
          </li>
          <li>
            <figure class="f_art">
              <a href="{{ "/works/art/art-3dcube-14.html" | prepend: site.baseurl }}"><img src="img/gallery_thumbs/t_art-3dcube-14.png" alt="3D Cubes">
              <figcaption>
              <div class="gal-hover">
                  <p class="link">3D Cubes</p>
              </div>
              </figcaption>
            </a>
            </figure>
          </li>

          <li>
            <figure class="f_art">
              <a href="{{ "/works/art/art-typography-14.html" | prepend: site.baseurl }}"><img src="img/gallery_thumbs/t_art-typography-14.png" alt="Typography Stamp Design">
              <figcaption>
              <div class="gal-hover">
                  <p class="link">Type Stamps + Cards</p>
              </div>
              </figcaption>
            </a>
            </figure>
          </li>
          <li>
            <figure class="f_art">
              <a href="{{ "/works/art/art-taofao-14.html" | prepend: site.baseurl }}"><img src="img/gallery_thumbs/t_art-taofao-14.png" alt="TAOFAO Drawing">
              <figcaption>
              <div class="gal-hover">
                  <p class="link">TAOFAO Drawing</p>
              </div>
              </figcaption>
            </a>
            </figure>
          </li>
          <li>
            <figure class="f_vid">
              <a href="{{ "/works/vid/vid-bts-13.html" | prepend: site.baseurl }}"><img src="img/gallery_thumbs/t_vid-bts-13.png" alt="College Behind the Scenes">
              <figcaption>
              <div class="gal-hover">
                  <p class="link">College BTS</p>
              </div>
              </figcaption>
            </a>
            </figure>
          </li>

          <li>
            <figure class="f_art">
              <a href="{{ "/works/art/art-teeth-13.html" | prepend: site.baseurl }}"><img src="img/gallery_thumbs/t_art-teeth-13.png" alt="Jar of Teeth">
              <figcaption>
              <div class="gal-hover">
                  <p class="link">Jar of Teeth</p>
              </div>
              </figcaption>
            </a>
            </figure>
          </li>
          <li>
            <figure class="f_art">
              <a href="{{ "/works/art/art-ashes-12.html" | prepend: site.baseurl }}"><img src="img/gallery_thumbs/t_art-ashes-12.png" alt="Reborn From Ashes">
              <figcaption>
              <div class="gal-hover">
                  <p class="link">Reborn From Ashes</p>
              </div>
              </figcaption>
            </a>
            </figure>
          </li>
          <li>
            <figure class="f_art">
              <a href="{{ "/works/art/art-withthebirds-12.html" | prepend: site.baseurl }}"><img src="img/gallery_thumbs/t_art-withthebirds-12.png" alt="With the Birds">
              <figcaption>
              <div class="gal-hover">
                  <p class="link">With the Birds</p>
              </div>
              </figcaption>
            </a>
            </figure>
          </li>
      </ul>

    </div>
  </section>


</div>
</main>


{% include footer.html %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="css/gallery-filter.js"></script>


</body>
</html>
