<footer>

  <p>
    <span id="left">
      <span class="showlarge">Portfolio website and contents &copy; 2014-<script>document.write(new Date().getFullYear())</script><noscript>(current year)</noscript> Tabitha Kennedy</span>
      <span class="showsmall">&copy; Tabitha Kennedy</span>
    </span>
    <span id="right">
      <a href="demoreel2015.html" title="View my 2015 demo reel for my video works">Demo Reel</a>
      <a href="assets/Tab_Kennedy_CV.pdf" title="resume or cirriculum vitae">CV</a>
      <a href="disclaimer.html" title="View the credits for this website">Disclaimer</a>
    </span>
  </p>

</footer>
