<footer>
  <!-- <div id="left">
    <p>Portfolio website and contents &copy; 2014-<script>document.write(new Date().getFullYear())</script><noscript>(current year)</noscript> Tabitha Kennedy</p>
  </div>
  <div id="right">
    <ul>
      <li><a href="/" title="resume or cirriculum vitae">CV</a></li>
      <li><a href="/" title="PDF version of portfolio">PDF</a></li>
      <div style="clear: both"></div>
    </ul>
  </div> -->
  <p>
    <span id="left">
      <span class="showlarge">Portfolio website and contents &copy; 2014-<script>document.write(new Date().getFullYear())</script><noscript>(current year)</noscript> Tabitha Kennedy</span>
      <span class="showsmall">&copy; Tabitha Kennedy</span>
    </span>
    <span id="right">
      <a href="{{ site.baseurl }}" title="resume or cirriculum vitae">CV</a>
      <a href="{{ site.baseurl }}" title="PDF version of portfolio">PDF</a>
    </span>
  </p>

</footer>