<header>
  <section>
    <h1 id="left">
      <a href="{{ "index.html" | prepend: site.baseurl }}" title="Refresh portfolio">Tab Kennedy</a>
    </h1>
    <span id="nav">
      <!--  Moving back and forth between the pieces WITHIN THE CATEGORY, for example in this piece, between Website/UI pieces.  -->
      <a href="{{ "./" | append: page.previous }}"><button id="previous_button" title="Go to previous piece">Previous</button></a>
      <a href="{{ "./" | append: page.next }}"><button id="next_button" title="Go to next piece">Next</button></a>
      <a href="{{ site.baseurl }}" style="margin:0;"><button id="" title="Go back to all pieces">Home</button></a>
    </span>
  </section>
  <div style="clear: both"></div>
</header>