<header>
  <section>
    <h1 id="left">
      <a href="{{ "index.html" | prepend: site.baseurl }}" title="Refresh portfolio">Tab Kennedy</a>
    </h1>
    <span id="nav">
      <button id="filter_video" title="Filter video and animation works">Video &amp; Animation</button>
      <button id="filter_ui" title="Filter website and user interface works">Websites &amp; UI</button>
      <button id="filter_art" title="Filter fine art works">Fine Arts</button>
      <button id="filter_all" title="Show all works">All Works</button>
    </span>
  </section>
  <div style="clear: both"></div>
</header>