<head>
  <title>{{ page.title }} |  Tab Kennedy</title>
  <meta name="description" content="Tabitha Kennedy's (codelack) digital media portfolio website." />
  <meta name="keywords" content="portfolio, art, digital media, responsive, gallery, Tab, Tabitha Kennedy, codelack, codelackarts, dagrblz, UI design, video" />
  <meta name="author" content="Tabitha Kennedy" />

  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl}}" type="image/x-icon" />
  <link href="{{ "/css/styles.css" | prepend: site.baseurl}}" rel="stylesheet" type="text/css" />
  <link href="{{ "/css/content.css" | prepend: site.baseurl}}" rel="stylesheet" type="text/css" />
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,100italic,300italic,400italic,500italic,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:700,100' rel='stylesheet' type='text/css'>
  <style> @import  url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,100italic,300italic,400italic,500italic,700italic);
          @import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700,100);
  </style>
</head>
