---
---
/*
  Authors: Tabitha Kennedy
  Created Date: March 10, 2015
  Modified Date: November 14, 2015
  Description:
    Main CSS stylesheet for a portfolio website.
*/

* {
  transition: 300ms;
  }
body {
  font-family: 'Roboto', 'Calibri', Arial, Helvetica, sans-serif;
  font-weight: 100;
  background-color: #B1A398;
  background-image: url("../img/header-bgpic.png"); background-repeat: no-repeat; background-position: left top; background-attachment:fixed; background-size:cover;
  width:100%; height:100%; margin:0; padding:0px;  overflow-y:auto;
  }
hr.grad {
  border: 0;
  height: 1px;
  background-color: #aaa;
    background-image: -webkit-linear-gradient(left, #aaa, #eee);
    background-image: -moz-linear-gradient(left, #aaa, #eee);
    background-image: -ms-linear-gradient(left, #aaa, #eee);
    background-image: -o-linear-gradient(left, #aaa, #eee);
  }
a, img, iframe {
  border: 0 none;
  outline: 0;
  }
figure {
    margin: 0;
  }
a {
  text-decoration: none;
  }
* a:hover {
  transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
  }
*:hover {
  transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
  }
strong, b {
  font-weight: 700;
}
.floatleft {
  float: left;
  margin-right: 10px;
}
.floatright {
  float: right;
  margin-left: 10px;
}
.subtitle {
  color: gray;
  font-size: small;
}


/*        *** TOP ELEMENTS ***        */
header {
  background-color: #1C1A1C;
  color: #EEE;
  padding: 5px;
  min-height: 45px;
  z-index: 9999;
  border-bottom: 8px solid #F6B581;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 04px 10px rgba(0, 0, 0, 0.4);
}
header h1 {
  vertical-align: middle;
  /*font-size: 16px;*/
  font-weight: 300;
  font-family: 'Roboto Slab', 'Calibri', Arial, Helvetica, sans-serif;
}
header ul a, header #nav button {
  text-decoration: none;
  font-size: 9px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  background-color: transparent;
  padding: 10px;
  border: 2px solid #F6B581;
  box-shadow: inset 0 0 0 0 #F6B581;
}
header ul a, header a:link, header a:visited,
  header #nav button {
  color: white;
}
header ul a:hover, header a:active, header a:focus,
 header #nav button:hover {
  color: #1C1A1C;
  background-color: #F6B581;
  box-shadow: inset 0 100px 0 0 #F6B581;
}
header #nav button:active {
  box-shadow: inset 0 100px 0 0 #C4A484;
  /*color: white;*/
	transition: none;
    -webkit-transition: none;
    -moz-transition: none;
}
button.focused {
  box-shadow: inset 0 100px 0 0 #C4A484;
}
header #left {
  float: left;
  margin: 4px 15px;
}
header #nav {
  float: right;
  margin-top: 2px;
}
header li {
  list-style-type: none;
  display: inline;
}
header section {
  padding: 0px 5px;
  margin: 0 auto;
  max-width:1300px;
}
header section span#nav a {
  margin: 0px 10px;
}


/*        *** CONTENT ELEMENTS ***        */
main {
  margin: 0 auto; /* <-- this fixes overlap w/header */
  /*margin-left: 230px; (for main not wrapper)*/
  /*padding: 5px;*/
  display: block;
  position: relative;
  height: 100%;
  /*z-index: 9999;*/
  }
#container {
  margin: 0 auto;
  position: relative;
  /*z-index: 9999;*/
  /*width: 1000px;*/
  width: 100%; max-width: 1500px; /*was 1300px*/
  }
    /*    Content Typography Styles   */
main h1 {
  font-family: 'Damion', cursive;
  font-size: 6rem;
  color: #4C6AA0;
  font-weight: 400;
  /*line-height: 3px;*/
  margin: 0;
  text-align: center;
  }
main h2 {
  font-family: 'Roboto Slab', Georgia, serif;
  color: #4C6AA0;
  font-weight: 100;
  /*font-size: 58px;*/
  text-align: center;
  /*margin-top: 5px;*/
  font-size: 1.75rem;
  }
main h3 {
  font-weight: bold;
  /*line-height: 5px;*/
  font-style: italic;
  text-align: left;
  /*font-size: 14px;*/
  }
main h6 {
  font-weight: 100;
  font-style: italic;
  margin: 0;
}
main p, main ul {
  font-weight: 300;
  font-size: 1.15rem;
  color: #4D4D4D;
  /*line-height: 1em;*/
  text-align: left;
  hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
  }
main a, main a:link, main a:visited {
  font-weight: 500;
  color: #AA704A;
  }
main a:hover, main a:active, main a:focus {
  color: #4C6AA0;
}
/*main h2 a, main h2 a:link, main h2:visited, section.threecol h2 {
  color: #4C6AA0;
  font-weight: 100;
}
main h2 a:hover, main h2 a:active {
  color: #AA704A;
}*/
main hr {
  margin: 0;
  height: 0px;
  border-top:#EEE 10px dashed; border-bottom: none;
}
    /*    Content Block Elements    */
article {
  position:relative;
  background-color: #EEE;
  margin-bottom: 0px; margin-top: 0px;
  /*margin: 40px 0px;*/
  padding: 20px 60px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
article.norm {
  margin: 0px 0px 40px;
  padding-top: 0px; /*padding-bottom: 0px;*/
  position: relative;
  display: block;
}
.norm h2 {
  text-align: left;
}
.norm h3 {
  color: #4C6AA0;
}
.norm ul {
  padding-left: 1rem;
}
article.heroarticle {
  padding: 90px 180px;
  /*margin-top: 40px;*/
  border-radius: 20px 20px 0px 0px;
    -webkit-border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;
}
article.heroarticle p:first-of-type {
  font-weight: 100;
  font-size: 1.5rem;
}
article.heroarticle p {
  font-size: 1rem;
  text-align: center;
  margin: 30px;
  hyphens: none;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
}
article.gray {
  background-color: rgba(255, 255, 255, .5);
}
article.gray p {
  font-weight: 100;
  font-size: 24px;
  color: #4D4D4D;
  text-align: center;
}
section.threecol {
  margin: 40px 0px;
  width: 100%;
  display: flex;
    /*display: -webkit-box;
    display: -moz-box;*/
    display: -ms-flexbox;
    display: -webkit-flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
}
section.threecol article {
  width: calc(1/4 * 100%);
  /*display: inline-block;*/
  /*margin: auto;*/
  padding: 25px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
section.threecol h2 {
  margin: 0;
}
section.threecol p {
  margin: 0;
  font-size: .9rem;
  text-align: center;
}
section.threecol i {
  font-size: 3rem;
  margin-top: 13px;
}
    /*    Lightbox Code   */
.lightbox {
	display: none;
	position: fixed;
	z-index: 100002;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
  overflow-y: auto;
}
a.lightbox img {
	max-height: 90%;
  max-width: 100%;
	width: auto;
	margin-top:10vh; margin: 10vh auto;
  /*top: 50vh;*/
}
.lightbox:target {
	outline: none;
	display: block;
}
.lightbox span {
  position: absolute;
  top: 2vh;
  right: 2vw;
  color: rgba(255, 255, 255, .5);
}
/*.lightbox div {
  position: absolute;
  display: table;
  top: 2vh;
  right: 2vw;
  width: 50px;
  height: 50px;
  /*padding: 12px;//
  border: 1px solid white;
  border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
  background-color: rgba(255, 255, 255, .5);
  color: black;
  /*line-height: 0;//
  font-size: 4rem;
  font-weight: 300;
  text-align: center;
}*/
/*.lightbox div span {
  display: table-cell;
  /*margin: 0 auto;//
  margin-top: -10px;
  padding-left: 15px;
  padding-top: 18px;
  text-align: center;
  vertical-align: middle;
  line-height: 0;
  transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}*/

    /*    Contact Info    */
.contactinfo {
  text-align: left;
  list-style-type: none;
  margin-left: -2.5rem;
}
.conticons {
  display: none;
  text-align: center;
  font-size: 2rem;
}
.conticons i {
  margin: 5px;
}
#backtotop {
  display: block;
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  font-style: italic;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  z-index: 99995;
}
#backtotop a {
  font-weight: 100;
}
#backtotop a, #backtotop a:link, #backtotop a:visited {
  color: #AA704A;
}
#backtotop a:hover, #backtotop a:active, #backtotop a:focus {
  color: #4C6AA0;
}

/*        ***FOOTER ELEMENTS***       */
footer {
  background-color: #1C1A1C;
  color: #EEE;
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: -20px;
  padding: 5px;
  z-index: 9999;
  border-top: 8px solid #F6B581;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}
footer a, footer a:link, footer a:visited {
  color: #CCC;
  text-decoration: underline;
}
footer a:hover, footer a:active, footer a:focus {
  color: white;
}
footer #left {
  /*float: left;*/
  margin-left: 15px;
}
footer #right {
  float: right;
}
footer p {
  padding: 5px;
}
footer p span#right a {
  margin: 0px 10px;
}
footer span.showsmall {
  display: none;
}
/*
footer #right::after {
  content: "";
  display: inline-block;
  width: 100%;
  height:0%;
  clear:both;
}*/


/*        ***MEDIA QUERIES***       */
@media screen and (max-width:1280px){
  /*#container {width:900px;}*/
}
@media screen and (max-width:960px){
  /*#container {width:100%;}*/
}
@media screen and (max-width:900px){

}
@media screen and (max-width:700px){
  main h1 {line-height:1em;}
}
@media screen and (max-width:400px){
  .floatleft, .floatright {float:none; margin:0;}
  main p, .norm ul {font-weight:300; font-size:14px; }
  main hr {height:10px; border:none;}
  main h1 {font-size:50px;}
  main h2 {font-size:1.5rem;}
}
@media screen and (max-width:300px){
}
    /*    Header Fix    */
@media screen and (max-width:700px){
  header #left {float:none; margin-top:0; margin-bottom:0;}
  header #nav {float:none; margin-top:0;}
  header #nav button {padding:4px; margin:0 auto; border:0;}
  header {text-align:center;}
}
@media screen and (max-width:470px){
  #nav {display:none;}
}
    /*    Contact Fix   */
@media screen and (max-width:400px){
  .contactinfo {display:none;}
  .conticons {display:block;}
}
    /*    Footer Fix    */
@media screen and (max-width:700px){
  footer div#right {display:none;}
  footer div#left {margin-top:2em;}
}
@media screen and (max-width:600px){
  footer {text-align:center;}
  footer span.showlarge{display:none;}
  footer span.showsmall{display:inline;}
  footer #left {margin: 0 15px;}
  footer #right{float:none;}
}
@media screen and (max-width:480px){
  footer div#left {line-height:1rem; text-align:center;}
  footer div#left {margin-top:1.5em;}
}
