---
layout: works
title:        Social Media Promo Animation
dateComplete: 2015
category:     Video &amp; Animation
role-genre:   Animating/Editing
used-media:   After Effects
previous:     vid-heroes-15.html
next:         vid-tim-15.html
---

<section id="workcontent">
    <div id="work-header">
      <h2>{{ page.title }}</h2>
      <p class="work_caption">
        {% if page.dateComplete %} {{ page.dateComplete}} {% endif %}
        {% if page.category %}
          <br />
          Category: {{ page.category }} {% endif %}<!--Meta Tag-> Category of Work-->
        {% if page.role-genre %}
          <br />
          Role: {{ page.role-genre }} {% endif %}<!--Meta Tag-> Role or Genre-->
        {% if page.used-media %}
          <br />
          Used: {{ page.used-media }} {% endif %}<!--Meta Tag-> Used or Media-->
      </p>
    </div>
    <div class="embedplayer">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/Dr5ZmBj2uJk" frameborder="0" allowfullscreen></iframe>
    </div>
    <p>I created an animation in After Effects cs6 to promote IU Kokomo’s social media for an internship with the Office of Media and Marketing. The video was used on the campus’ digital signs for a semester.</p>
    <p>I utilized the school’s branding guidelines for this project and edited the given icons in Illustrator to match the composition.</p>
    <p>I used footage of campus flowers filmed by Mike Glassburn as the background video.</p>

  </section>
