---
layout: works
title: Rocker at Heart
dateComplete: 2015
category: Fine Arts
role-genre: Traditional Art
used-media: Scratchboard
previous: art-3dcube-14.html
next: art-whiskers-16.html
image: i_art-rockerheart-15.png
image-alt: Rocker at Heart drawing
image-2: i_art-rockerheart2-15.png
image-2-alt: Rocker at Heart at the exhibit
---

<section id="workcontent">
    <div id="work-header">
      <h2>{{ page.title }}</h2>
      <p class="work_caption">{% if page.dateComplete %} {{ page.dateComplete}} {% endif %}
        {% if page.category %}<br />Category: {{ page.category }} {% endif %}<!--Meta Tag-> Category of Work-->
        {% if page.role-genre %}<br />Genre: {{ page.role-genre }} {% endif %}<!--Meta Tag-> Role or Genre-->
        {% if page.used-media %}<br />Media: {{ page.used-media }} {% endif %}<!--Meta Tag-> Used or Media-->
      </p>
    </div>
    {% if page.image %} <img src="{{ page.image | prepend: "/img/works_full/" | prepend: site.baseurl }}" alt="{% if page.image-alt %} {{ page.image-alt }} {% endif %}" /> {% endif %} <!--Meta Tag-> Work/Piece Image or Video-->
    <p>This scratchboard piece represents a heart in the shape of the “Sign of the Horns,” done for the music-inspired Harmony exhibition at IU Kokomo in February-March.</p>
    <p>The piece was sold the opening night.</p>
    {% if page.image-2 %}
      <img style="width:300px; max-width:90vw;" src="{{ page.image-2 | prepend: "/img/works_full/" | prepend: site.baseurl }}" alt="{% if page.image-2-alt %} {{ page.image-2-alt }} {% endif %}" />
    {% endif %} <!--Meta Tag-> Work/Piece Image or Video-->
    <p>The photo of the framed piece at the exhibit was taken by IU Kokomo videographer Mike Glassburn.</p>




  </section>
