---
layout: works
title: Typography Stamps &amp; Cards
dateComplete: 2014
category: Fine Arts
role-genre: Digital Graphic Design
used-media: Illustrator, paper
image: i_art-typography-14.png
image-alt: Typography Stamps image
image-2: i_art-typography2-14.png
image-2-alt: Typography deck of cards
previous: art-taofao-14.html
next: art-3dcube-14.html
---

<section id="workcontent">
    <div id="work-header">
      <h2>{{ page.title }}</h2>
      <p class="work_caption">{% if page.dateComplete %} {{ page.dateComplete}} {% endif %}
        {% if page.category %}<br />Category: {{ page.category }} {% endif %}<!--Meta Tag-> Category of Work-->
        {% if page.role-genre %}<br />Genre: {{ page.role-genre }} {% endif %}<!--Meta Tag-> Role or Genre-->
        {% if page.used-media %}<br />Media: {{ page.used-media }} {% endif %}<!--Meta Tag-> Used or Media-->
      </p>
    </div>
    {% if page.image %} <img src="{{ page.image | prepend: "/img/works_full/" | prepend: site.baseurl }}" alt="{% if page.image-alt %} {{ page.image-alt }} {% endif %}" /> {% endif %} <!--Meta Tag-> Work/Piece Image or Video-->
    <p>I designed these Celtic-themed postage stamps completely out of type.</p>
    <p>I also designed a complete deck of cards as well as its packaging out of type and proceeded to print and cut every card.</p>
    {% if page.image-2 %}
      <img style="width:300px; max-width:90vw;" src="{{ page.image-2 | prepend: "/img/works_full/" | prepend: site.baseurl }}" alt="{% if page.image-2-alt %} {{ page.image-2-alt }} {% endif %}" />
    {% endif %} <!--Meta Tag-> Work/Piece Image or Video-->
    <p>These projects were done for my Typography I class.</p>


  </section>
